[access "refs/*"]
	owner = group user/Xiao-Long Chen (chenxiaolong)
[access "refs/for/refs/*"]
	read = group user/Xiao-Long Chen (chenxiaolong)
	push = group user/Xiao-Long Chen (chenxiaolong)
	label-Code-Review = -2..+2 group user/Xiao-Long Chen (chenxiaolong)
	label-Verified = -1..+1 group user/Xiao-Long Chen (chenxiaolong)
	rebase = group user/Xiao-Long Chen (chenxiaolong)
	removeReviewer = group user/Xiao-Long Chen (chenxiaolong)
	submit = group user/Xiao-Long Chen (chenxiaolong)
[access "refs/heads/*"]
	read = group user/Xiao-Long Chen (chenxiaolong)
	create = group user/Xiao-Long Chen (chenxiaolong)
	push = +force group user/Xiao-Long Chen (chenxiaolong)
	pushMerge = group user/Xiao-Long Chen (chenxiaolong)
[access "refs/tags/*"]
	push = +force group user/Xiao-Long Chen (chenxiaolong)
	pushTag = group user/Xiao-Long Chen (chenxiaolong)
	pushSignedTag = group user/Xiao-Long Chen (chenxiaolong)
